.index {
    font-family: Arial, Helvetica, sans-serif;
    width: 900px;
    margin: 0 auto;
}
header{
    background-color: #8BB2F3;
    width: 900px;
}
footer{
    display: flex;
    background-color: #8BB2F3;
    text-align: center;
    border-top: 2px solid #ccc;
    font-size: 14px;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    padding: 0;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    color: white;
    height: 50px;
    padding-left: 7px; 
}
.menu li {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 10px;
    padding-left: 0px;
    border-left: 1px solid white;
    text-align: center;
    margin: 0;
    width: 100%;
}
.menu li:first-child {
    border-left: none;
}
.menu h1{
    font-size: 25px;
    justify-content: left;
}
.saludo {
    justify-content: center;
}
.menu span{
    font-size: 15px;
    justify-content: center;
}
.buscar form{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 5px;
    margin-left: 30px;
}
input{
    border: none;
    font-size: 15px;
    height: 22px;
}
input:hover, input:focus{
    outline: none;
    background-color: #e6f0ff;
}
button{
    border: none;
    color: #8BB2F3;
    cursor: pointer;
    font-size: 15px;
    height: 22px;
}
button:hover{
    outline: none;
    background-color: white;
}
.menu-dummies{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    justify-items: center;
}
.dummies{
    color: #8BB2F3;
    background-color: #f5f5f5d8;
    box-shadow: 3px 3px 0px rgb(206, 205, 205);
    text-align: center;
    padding: 16px;
    height: 160px;
    width: 160px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.dummies img{
    margin-bottom: 0px;
    height: 150px;
}
.dummies h4{
    margin-bottom: 0px;
    margin-top: 0px;
}
.dummies a{
    text-decoration: none;
}
.dummies:hover{
    background-color: #99c5dd;
    transform: scale(1.06) rotate(5deg);
}
.dummies li a:visited  {
    background-color: #deebf2;
    text-decoration: none;
}

/*perfil.html*/
.perfil {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 4px;
    padding: 0;
    gap: 2px;
}
.descripcion-info{
    margin: 0;  
    padding: 8px;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 1rem;
}
.contacto p{
    margin: 0px;  
    padding: 8px;
    text-align: justify;
    font-size: 1rem;
}
.imagen-perfil {
    object-fit: cover;
    border-top-left-radius: 30%;
    height: 355px;
    width: 200px;
}
.info-perfil {
    padding: 5px;
    box-shadow: 5px 5px 0px rgba(105, 105, 105, 0.8);
    border: 2px solid black; 
    width: 700px; 
    height: 341px; 
}
.info-perfil h1 {
    color: orange; 
    font-size: 2rem;
}
td {
    padding-right: 30px; 
}
.contacto a{
    color: orange;
    text-decoration: none;
}
.contacto a:visited {
    color:red;
}

/*media queries*/
/*Dispositivos móviles*/
@media (max-width: 480px){
    .perfil{
        font-size: 16px; 
        height: 100%;
    }
    .imagen-perfil {
        content: url('../29640095/CEDULAPequena.jpeg');
        width: 100px; 
        height: 100%;  
        max-width: 30vw;  
    }
    .info-perfil {
        width: 70vw; 
        height: 100%;
        padding: 1px;
    }
    .descripcion-info, .contacto p, td {
        padding: 2px;
        font-size: 6px; 
    }
    .info-perfil h1 {
        font-size: 12px; 
    }

    .index {
        width: 95%;
    }

    header {
        width: 100%;
    }

    .dummies {
        width: 36%;
        font-size: 0.8rem;
    }

    .menu h1 {
        font-size:1rem
    }

    .menu h1 span,
    .menu .saludo, .menu .buscar input,
    footer {
        font-size: 0.7rem;
    }
    

}
/*iPads, tablets*/
@media (min-width: 481px) and (max-width: 768px){
    .index {
        width: 95%;
    }

    header{
        width: 100%;
    }

    .dummies {
        width: 23%;
        font-size: 0.8rem;
    }

    .menu h1 {
        font-size:1rem
    }

    .menu h1 span,
    .menu .saludo, .menu .buscar input,
    footer {
        font-size: 0.7rem;
    }

    .perfil{
        font-size: 16px; 
        height: 100%;
    }
    .imagen-perfil {
        content: url('../29640095/CEDULAPequena.jpeg');
        width: 120px; 
        height: 100%;  
        max-width: 30vw;  
    }
    .info-perfil {
        width: 70vw; 
        height: 100%;
        padding: 1px;
    }
    .descripcion-info, .contacto p, td {
        padding: 2px;
        font-size: 9px; 
    }
    .info-perfil h1 {
        font-size: 15px; 
    }

}
/*pantallas pequeñas, ordenadores portátiles*/
@media (min-width: 769px) and (max-width: 1024px){
    .imagen-perfil {
        content: url('../29640095/CEDULAGrande.JPEG');
        width: 200px; 
        height: 100%;  
        max-width: 30vw; 
    }
    .perfil{
        font-size: 16px; 
        height: 100%;
    }
    .info-perfil {
        width: 70vw; 
        height: 100%;
        padding: 1px;
    }
    .descripcion-info, .contacto p, td {
        padding: 2px;
        font-size: 16px; 
    }
    .info-perfil h1 {
        font-size: 26px; 
    }

}
/*pantallas grandes, ordenadores de escritorio*/
@media (min-width: 1025px) and (max-width: 1200px){
}